.back {
  background-image: url("https://wallpaperbat.com/img/289083-movie-theater-wallpaper-image.jpg");
  width: 100vw;
  height: 100vh;
}

.list-group-item {
  cursor: pointer;
}

.holder {
  display: flex;
  width: 100%; /* Ensure full width */
}

.item {
  flex: 1; /* Take up remaining space */
}

.price {
  margin-left: 10px; /* Adjust spacing between item and price */
}
.list-group-item:hover {
  background-color: blanchedalmond;
}

.cont {
  background-color: rgb(16, 15, 15);
  border-radius: 5px;
  color: wheat;
  /* top: 50%;
  left: 50%;
  transform: translate(-50, -50) !important; */
  width: 70%;
  text-align: center;
  padding: 0 10px 0 10px;
  border: 1px solid white;
  margin-bottom: 10px;
}
.card-body {
  background-color: rgb(16, 15, 15);
  border-radius: 5px;
  color: wheat;
  /* top: 50%;
  left: 50%;
  transform: translate(-50, -50) !important; */

  text-align: center;
  transition: box-shadow 0.3s ease-in-out;
}

.card-body:hover,
.cont:hover {
  animation: backlight 3s infinite;
  cursor: pointer;
}

@keyframes backlight {
  0% {
    transform: translate(0px, 0px);
    box-shadow: 0 0 15px 5px #ffff00;
  } /* Bright Yellow */
  20% {
    transform: translate(0.5px, 0.5px);
    box-shadow: 0 0 15px 5px #00ffff;
  } /* Cyan */
  40% {
    transform: translate(1px, 1px);
    box-shadow: 0 0 15px 5px #00f;
  } /* Lime Green */
  60% {
    transform: translate(1px, 1px);
    box-shadow: 0 0 15px 5px #ffffff;
  } /* White */
  80% {
    transform: translate(0.5px, 0.5px);
    box-shadow: 0 0 15px 5px #ffa500;
  } /* Orange */
  100% {
    box-shadow: 0 0 15px 5px #ff00ff;
  }
}
.cont,
.container {
  font-size: larger !important;
  font-weight: 500 !important;
  padding: 15px 30px 15px 30px;
}
.card-text {
  font-size: small !important;
}
.card-title {
  font-size: large !important;
}
.btn {
  background-color: wheat;
  color: black;
}
